@use "../../assets/styles/mixin" as mixin;

.header {
  position: relative;
  padding: 10px 20px;
  box-shadow: var(--box-shadow-nav);
  color: var(--primary);
  img {
    width: 130px;
    @include mixin.xs {
      width: 90px;
    }
  }
  .desktopHeader {
    @include mixin.xs {
      display: none;
    }
  }
  .mobileHeader {
    font-size: 1.8rem;
    display: none;
    cursor: pointer;
    @include mixin.xs {
      display: block;
    }
  }
}
